x-authentik-common-env: &authentik-common-env
  # AUTHENTIK_HOST: ${AUTHENTIK_HOST}
  AUTHENTIK_POSTGRESQL__HOST: authentik-psql
  AUTHENTIK_POSTGRESQL__NAME: authentik
  AUTHENTIK_POSTGRESQL__PASSWORD: ${PSQL_PWD}
  AUTHENTIK_POSTGRESQL__USER: authentik
  AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY:?secret key required}
  AUTHENTIK_LOG_LEVEL: warning
  AUTHENTIK_EMAIL__HOST: ${AUTHENTIK_EMAIL__HOST}
  AUTHENTIK_EMAIL__PORT: ${AUTHENTIK_EMAIL__PORT}
  AUTHENTIK_EMAIL__USERNAME: ${AUTHENTIK_EMAIL__USERNAME}
  AUTHENTIK_EMAIL__PASSWORD: ${AUTHENTIK_EMAIL__PASSWORD}
  AUTHENTIK_EMAIL__USE_SSL: ${AUTHENTIK_EMAIL__USE_SSL}
  AUTHENTIK_EMAIL__TIMEOUT: ${AUTHENTIK_EMAIL__TIMEOUT}
  AUTHENTIK_EMAIL__FROM: ${AUTHENTIK_EMAIL__FROM}

name: authentik
services:
  authentik-psql:
    container_name: authentik-psql
    hostname: authentik-psql
    image: postgres:17
    networks:
      - shared_network
    restart: always
    environment:
      POSTGRES_USER: authentik
      POSTGRES_PASSWORD: ${PSQL_PWD}
      POSTGRES_DB: authentik
    volumes:
      - ./data/authentik-psql:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U authentik -d authentik']
      interval: 5s
      timeout: 5s
      retries: 10
    command:
      - postgres
      - -c
      - log_min_messages=warning
      - -c
      - client_min_messages=warning
      - -c
      - log_checkpoints=off
  authentik-server:
    command: server
    container_name: authentik-server
    hostname: authentik-server
    image: authentik/server:2025.10
    networks:
      - shared_network
    ports:
      - '9000:9000'
      - '9443:9443'
    restart: always
    depends_on:
      authentik-psql:
        condition: service_healthy
    environment: *authentik-common-env
    volumes:
      - ./data/media:/media
      - ./data/custom-templates:/templates
  authentik-worker:
    command: worker
    container_name: authentik-worker
    hostname: authentik-worker
    image: authentik/server:2025.10
    networks:
      - shared_network
    restart: always
    depends_on:
      authentik-psql:
        condition: service_healthy
    environment: *authentik-common-env
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data/media:/media
      - ./data/certs:/certs
      - ./data/custom-templates:/templates
networks:
  shared_network:
    name: shared_network
    driver: bridge
    external: true